<nav class="navbar navbar-dark bg-purple navbar-expand-sm">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/bisema_logo_2.png" alt="logo" height="25">
    </a>
    <div class="dropdown ml-auto dropleft">
        <a class="dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <a class="dropdown-item" href="#">Dashboard</a>
      <a class="dropdown-item" href="#">Edit Profile</a> -->
            <a class="dropdown-item" href="javascript:;" (click)="logout()">Log Out</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div>
        <div class="row top-row">
            <div class="col-12">
                <div class="d-flex align-items-center py-1">
                    <div class="flex-fill"></div>
                    <h4 class="flex-fill text-center mt-1"><i class="fa fa-bookmark clr-dark"></i> One Furniture Dealers</h4>
                    <div class="flex-fill text-right">
                        <button type="button" class="btn btn-sm mr-2 bg-purple uptp-btn"><i class="fa fa-pencil-square"></i> UPTP</button>
                        <!-- <button type="button" class="btn btn-dark btn-sm" (click)="goCart()"><i class="fa fa-shopping-cart"></i> Cart[ {{cartQty}} ]</button> -->
                        <button type="button" class="btn btn-dark btn-sm"><i class="fa fa-shopping-cart"></i> Cart[ {{cartQty}} ]</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-row">
            <div class="col-2 p-0 side-nav">
                <div class="card mt-3 ml-3">
                    <div class="card-header d-flex justify-content-between bg-sidenav">
                        <span class="font-weight-bold">
                    <i class="fa fa-building"></i>  Company
                  </span>
                        <select class="form-control w-50" id="sel1" (change)="onCompanyChange()" [formControl]="companyControl">
                    <option *ngFor="let company of companies;" value="{{company.name}}">{{company.name}}</option>
                  </select>
                    </div>
                    <div class="card-body bg-sidenav">
                        <a class="clr-purple font-weight-bold" href="javascript:;">{{companyCode}} Catalouges</a>
                        <div class="list-group mt-2" *ngFor="let companyCatalogue of companyCatalogues;">
                            <a href="javascript:;" class="list-group-item d-flex justify-content-between align-items-center text-dark" (click)="getCatalogue(companyCatalogue.name)">
                      {{companyCatalogue.name}}
                      <span class="badge badge-dark">{{companyCatalogue.name}}</span>
                    </a>
                        </div>
                        <div class="input-group my-3" *ngIf="catalogue">
                            <input type="text" class="form-control" id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Search categories">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="tree.treeModel.clearFilter()"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                        <a class="clr-purple font-weight-bold" href="javascript:;" *ngIf="catalogue">{{catalogue.desc}}</a>
                        <!-- <div class="side-item" *ngIf="catalogue">
                    <div *ngFor = "let item of catalogue.TABLE_OF_CONTENTS.LEVEL.LABEL.LEVEL.LABEL; let i = index;" class="my-3">
                      <a href="#{{item.id}}" (click)="changeCategory(item.id)" class="text-dark" data-toggle="collapse">
                        <i class="fa fa-caret-right mr-1"></i>
                        {{item.DESCRIPTIONS.TEXT.Text}}
                      </a>
                      <div class="collapse" id="{{item.id}}">
                        <div *ngFor = "let sub_item of item.LEVEL.LABEL; let j = index;" class="my-3 pl-3">
                          <a href="#sub_item-{{ j }}" (click)="changeSubCategory(item.id,sub_item.id)" class="text-dark" data-toggle="collapse">
                            <i class="fa fa-caret-right mr-1"></i>
                            {{sub_item.DESCRIPTIONS.TEXT.Text}}
                          </a>
                          <div class="collapse" id="sub_item-{{ j }}">
                            <div *ngFor = "let sub_sub_item of sub_item.TOC_ITEMS.TOC_ITEM; let k = index" class="pl-4 my-3">
                              <a
                                href="javascript:;"
                                (click)="changeProduct(item.id,sub_item.id,sub_sub_item.id)"
                                class="p-1 side-child-item"
                                [ngClass]="{'bg-purple text-white': sub_sub_item.id==selectedItem,'text-dark': sub_sub_item.id!=selectedItem}"
                                >
                                {{ sub_sub_item.id}}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                        <tree-root #tree [options]="options" [nodes]="nodes" *ngIf="catalogue" (activate)="onEvent($event)"></tree-root>
                    </div>
                </div>
            </div>
            <div class="col-10 p-0 pr-3" *ngIf="catalogue">
                <div class="card mt-3 ml-3 bg-main">
                    <div class="card-header d-flex justify-content-between ">
                        <span>
                    <span class="font-weight-bold">{{companyCode}} | </span><span class="clr-grey">{{catalogue.desc}}</span>
                        </span>
                        <div>
                            <button type="button" class="btn"> <i class="fa fa-comments"></i>Live Chat</button>
                            <button type="button" class="btn"> <i class="fa fa-clipboard"></i> Dealers Board</button>
                        </div>
                    </div>
                    <div class="card-body bg-main p-0">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-purple pt-3">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div><button class="btn btn-sm btn-primary fa fa-facebook"></button></div>
                <div><button class="btn btn-sm btn-primary mx-3 fa fa-instagram"></button></div>
                <div><button class="btn btn-sm btn-primary mr-3 fa fa-linkedin"></button></div>
                <div><button class="btn btn-sm btn-primary fa fa-twitter"></button></div>
            </div>
            <div class="text-center mt-3">
                <p class="text-white">Copyright <span>&copy;</span> 2020 BiSemA Corporation.</p>
            </div>
        </div>
    </div>
</div>